@(activities: Seq[Activity] ,user: Member, posts: Seq[BulletinPost], available: Seq[Activity])
@import helper._;

@main{

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<h1>Welcom To the Fitness Center</h1>
			<div class="row" style="height:80%">
				<div id="login" class="span4 offset5">
				  
                  @report("_X", available)
            	  
            	  	
    				  
 			 		
				</div>
			</div>
			<div class="row">
				<div id="messages">
					@messageBoard(posts)
				</div>
			</div>
		</div>
		<div class="span2">
			<h1>This is the Activity list</h1>
			@activityContainer(activities)
		</div>

	</div>
</div>

}
