@()
@import helper._;

@main{

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<h1>Welcome To the Fitness Center</h1>
			<div class="row" style="height:80%">
				<div id="login" class="span4 offset5">
                  @report()
				</div>
			</div>
			<div class="row">
				<div id="messages">
					@messageBoard()
				</div>
			</div>
		</div>
		<div class="span2">
			<h1>This is the Activity list</h1>
			@activityContainer()
		</div>

	</div>
</div>

}
