logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
.target/views/index.scala.html

.target/views/clients/list.scala.html

.target/views/clients/list.scala.html

.target/views/clients/editForm.scala.html

.target/views/clients/editForm.scala.html

.target/views/clients/createForm.scala.html

.target/views/clients/createForm.scala.html
