@(employeeForm: Form[Employee])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a client</h1>
    
    @form(routes.Employees.save()) {
        
        <fieldset>
        
            @inputText(employeeForm("name"), '_label -> "Full name")
            @inputText(employeeForm("email"), '_label -> "Email")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Clients.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
}