@(id: Long, employeeForm: Form[Employee])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit employee</h1>
    
    @form(routes.Employees.update(id)) {
        
        <fieldset>
        
            @inputText(employeeForm("name"), '_label -> "Full name")
            @inputText(employeeForm("email"), '_label -> "Email")  
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this employee" class="btn primary"> or 
            <a href="@routes.Employees.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Employees.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this employee" class="btn danger">
    }
    
}
