body {
	
	padding-bottom: 40px;
	padding-left: 50px;
	background-color: rgba(215, 141, 44, 0.9);
background: rgba(215, 141, 44, 0.9);
}

img.center{
	margin-left:auto;
	margin-right:auto;
}


@media (max-width: 980px) {
        /* Enable use of floated navbar text */
    .navbar-text.pull-right {
		float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.weather{
	text-align:center;
}
.weather > img {
	vertical-align:middle;
}

.banner{
	text-align:center;
}
.btnGrad{
background:-webkit-gradient(linear, 44% 86%, 100% 0%, from(#2A76D9), to(#2F9BAE));
color:white;
-moz-box-shadow: 7px 7px 12px #242424;
-webkit-box-shadow: 7px 7px 12px #242424;
box-shadow: 7px 7px 12px #242424;
}