@(id: Long, clientForm: Form[Client])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit client</h1>
    
    @form(routes.Clients.update(id)) {
        
        <fieldset>
        
            @inputText(clientForm("name"), '_label -> "Full name")
            @inputText(clientForm("organization"), '_label -> "Affiliation")
            @inputText(clientForm("empId"), '_label -> "Id")
            @inputText(clientForm("email"), '_label -> "Email")

                    
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this client" class="btn primary"> or 
            <a href="@routes.Clients.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Clients.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this computer" class="btn danger">
    }
    
}
