@(clientForm: Form[Client])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a client</h1>
    
    @form(routes.Clients.save()) {
        
        <fieldset>
        
            @inputText(clientForm("name"), '_label -> "Full name")
            @inputText(clientForm("organization"), '_label -> "Affiliation")
            @inputText(clientForm("empId"), '_label -> "ID")
            @inputText(clientForm("email"), '_label -> "Email")
                    

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Clients.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
}