@(content: Html)

<!DOCTYPE html>

<html ng-app="fitnesscenter">
<head>
<title>FitnessCenter</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings.png")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/glyphicons-halflings-white.png")">
<script src="@routes.Assets.at("javascripts/jquery.min.map")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/user_report.js")" type="text/javascript"></script>
</head>
<body>
	@content


	
</body>
</html>
