@()
<div data-ng-controller="UserReportCtrl">

	<form>
		<fieldset>
			<legend>Employee ID</legend>
			<input id="employee_id" data-ng-model="empId" data-ng-enter="enter()" type="text" name="employee_id">	
		</fieldset>
	</form>
			 			
	<div id="user_report" class="modal hide fade"  tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="false"
		style="display: block;" >
		
		<div class="modal-header">
			<h3>Welcome {{user.name}}</h3>
		</div>
		
		<div class="modal-body">
			<h4>Please choose an activity</h4>
			<button class="btn" data-ng-model="activityName" data-ng-repeat="activity in activities" data-ng-click="signIn(activity.name)">{{activity.name}}</button>
			<br/>
			<button class="btn" data-ng-model="activityName" data-ng-repeat="activity in classes" data-ng-click="signIn(activity.name)">{{activity.name}}</button>
		</div>
		
		<div class="modal-footer">
			<p> Total Number of Visits : {{user.totalCount}}</p>
		
		</div>
	</div>
	
</div>