@(message:String, available: Seq[Activity])
<div data-ng-controller="UserReportCtrl">

	<form>
		<fieldset>
			<legend>Employee ID</legend>
			<input id="employee_id" data-ng-enter="enter()" type="text" name="employee_id">	
		</fieldset>
	</form>
			 			
	<div id="user_report" class="modal hide fade"  tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="false"
		style="display: block;" >
		
		<div class="modal-header">
			<h3>Welcome {{user.name}}</h3>
			@available.map { act =>
				<button type="submit" class="btn" id=@act.getName()">@act.getName()</button>
			
			}
		</div>
		
		<div class="modal-body">
			<p>@message</p>
		</div>
		
		<div class="modal-footer">
		</div>
	</div>
	
</div>